<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:comment><!-- 
    USAGE:
    <f:render partial="Campaign/Currency" arguments="{settings:settings.currency, amount: campaign.amount}" />
    TEST:
    <p>
    currencySign="{settings.currencySign}"
    <br>decimalSeparator="{settings.decimalSeparator}"
    <br>thousandsSeparator="{settings.thousandsSeparator}"
    <br>prependCurrency="{settings.prependCurrency}"
    <br>separateCurrency="{settings.separateCurrency}"
    <br>decimals="{settings.decimals}
    </p>
--></f:comment>
    <f:format.currency 
        currencySign="{settings.currencySign}"
        decimalSeparator="{settings.decimalSeparator}"
        thousandsSeparator="{settings.thousandsSeparator}"
        prependCurrency="{settings.prependCurrency}"
        separateCurrency="{settings.separateCurrency}"
        decimals="{settings.decimals}">{amount}</f:format.currency>
</html>