<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-crowdfunding" >
	<tr>
		<td>
			<f:translate key="tx_crowdfunding_domain_model_campaign.title" />
		</td>
		<td>
			 {campaign.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_crowdfunding_domain_model_campaign.description" />
		</td>
		<td>
			{campaign.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_crowdfunding_domain_model_campaign.pledged" />
		</td>
		<td>
			<f:render partial="Campaign/Currency" arguments="{settings:settings.currency, amount: campaign.pledged}" />
		</td>
	</tr>
</table>
</html>