<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

<f:flashMessages />

<p>Detail PID = {detailPid}</p>
<f:for each="{campaigns}" as="campaign">
	<dl>
		<dt>{campaign.title}</dt>
		<dd>
			<f:format.crop maxCharacters="100" respectHtml="1">{campaign.description}</f:format.crop>
			<br>
			{campaign.pledged}
			<f:link.action action="show" arguments="{campaign: campaign}" pageUid="{detailPid}">Show</f:link.action>
		</dd>
	</dl>
</f:for>

</f:section>
</html>