<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

<f:flashMessages />

<h1>{campaign.title}</h1>

<div class="row">
  <f:comment><!-- left column --></f:comment>
  <div class="col-md-8">

    <p class="teaser"><f:format.html>{campaign.description}</f:format.html></p>

    <f:if condition="{campaign.goals}">
      <h4><f:translate key="tx_crowdfunding_domain_model_campaign.goals" /></h4>
      <div class="list-group">
        <f:for each="{campaign.goals}" as="goal">
          <f:variable name="goalClass"></f:variable>
          <f:if condition="{campaign.totalBackedAmount} >= {goal.amount}">
            <f:variable name="goalClass">list-group-item-success</f:variable>
          </f:if>
          <div class="list-group-item {goalClass}">
            <h4 class="list-group-item-heading">{goal.amountAsString} - {goal.title}</h4>
            <p class="list-group-item-text"><f:format.html>{goal.description}</f:format.html></p>
          </div>
        </f:for>
      </div>
    </f:if>
  </div>

  <f:comment><!-- right column --></f:comment>
  <div class="col-md-4">
    <div class="tx-crowdfunding-overview">
      <dl>
        <dt><f:translate key="tx_crowdfunding_domain_model_goal" />:</dt>
        <dd>{campaign.pledgedAsString}</dd>

        <dt><f:translate key="tx_crowdfunding_domain_model_campaign.pledged" />:</dt>
        <dd>
          <span data-identifier="totalBackedAmount">{campaign.totalBackedAmountAsString}</span>
          &nbsp;(<span data-identifier="totalBackedAmountPercent">{campaign.totalBackedAmountPercent}%</span>)
        </dd>

        <dt><f:translate key="tx_crowdfunding_domain_model_campaign.backers" />:</dt>
        <dd><span data-identifier="backers">{campaign.backers->f:count()}</span></dd>
      </dl>

      <button class="btn btn-warning js_update-numbers" data-campaignid="{campaign.uid}">TEST</button>
    </div>

    <div class="tx-crowdfunding-pledges">
      <f:if condition="{campaign.pledges}">
        <h3><f:translate key="tx_crowdfunding_domain_model_campaign.pledges" /></h3>
        <div class="list-group">
          <f:for each="{campaign.pledges}" as="pledge">
            <div class="list-group-item">
              <h4 class="list-group-item-heading">{pledge.title}</h4>
              <p class="list-group-item-text"><f:format.html>{pledge.description}</f:format.html></p>
              <button 
                  class="btn btn-primary btn-block js__pledge"
                  data-campaignid="{campaign.uid}"
                  data-pledgeid="{pledge.uid}"
                  data-pledgeamount="{pledge.amount}"
                  data-pledgeamountstr="{pledge.amountAsString}"
                  data-pledgetitle="{campaign.title} - {pledge.title}">Back with {pledge.amountAsString}</button>
            </div>
          </f:for>
        </div>
      </f:if>
    </div>
  </div>
</div>

<f:render partial="Campaign/Modal" />

<f:comment>
jsVariables = {jsVariables}
<p><button class="btn btn-warning js_update-numbers" data-campaignid="{campaign.uid}">TEST</button></p>
</f:comment>

<f:link.action action="list" pageUid="{listPid}" class="btn btn-default">Back to list</f:link.action>

</f:section>
</html>