<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

<f:flashMessages />

<h1>{campaign.title}</h1>
jsVariables = {jsVariables}
<p class="teaser"><f:format.html>{campaign.description}</f:format.html></p>
<p class="pledged"><f:render partial="Campaign/Currency" arguments="{settings:settings.currency, amount: campaign.pledged}" /></p>

<f:if condition="{campaign.goals}">
		<f:for each="{campaign.goals}" as="goal">
			<dl>
				<dt>{goal.title}</dt>
        <dd>
          <f:format.html>{goal.description}</f:format.html>
          <br>
          <f:render partial="Campaign/Currency" arguments="{settings: settings.currency, amount: goal.amount}" />
        </dd>
			</dl>
		</f:for>
</f:if>

<f:if condition="{campaign.pledges}">
		<f:for each="{campaign.pledges}" as="pledge">
			<dl>
				<dt>{pledge.title}</dt>
        <dd>
          <f:format.html>{pledge.description}</f:format.html>
          <br>
          <button 
            class="btn btn-primary js__pledge"
            data-pledgeid="{pledge.uid}"
            data-pledgeamount="{pledge.amount}"
            data-pledgetitle="{campaign.title} - {pledge.title}">Back with <f:render partial="Campaign/Currency" arguments="{settings: settings.currency, amount: pledge.amount}" /></button>
        </dd>
			</dl>
		</f:for>
</f:if>

<f:link.action action="checkout">Back</f:link.action>

<f:link.action action="list" pageUid="{listPid}">Back to list</f:link.action>

</f:section>
</html>